@model HW_CustomerMvc.Models.清單

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>清單</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.客戶銀行數量)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.客戶銀行數量)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.客戶聯絡人數量)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.客戶聯絡人數量)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.客戶名稱 }) |
    @Html.ActionLink("Back to List", "Index")
</p>
